*{
    margin: 0;
    padding: 0;
}
html, body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100%;

   
}

header{
    display: flex;
    padding: 10px 2%;
    justify-content: space-between;
    background-color: #466189;
    
}


.info-cabecalho{
    display: flex;
}

.info-cabecalho h5{
    font-weight: bold;
    color: #f1f1f1;
    margin-left: 20%;
    font-size: 15px
   
}

.info-cabecalho p{
    font-weight: bold;
    color: #f1f1f1;
    margin-left: 100%;
    font-size: 15px
}
.perfil-adm{
    height: 30%;
 
}
.image-perfil img{
    margin-top: 10px;
    margin-left: 30%;
    justify-content: center;
    
}

.logo{
    width: 40px;
    height: 40px;
    margin-left: 9%;
}

.titulo-marca{
    color: white;
    display: flex;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 25%;
    font-family: Arial, Helvetica, sans-serif;
}

.data-hora input{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    border: none;
    margin-left: 50%;
    display: flex;
}

.main{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
   
    
}

.sidebar{
    width: 20%;
    background-color: rgb(255, 255, 255);
    height: 100%;
    border: 1px solid  rgb(7, 100, 112); 
    
}

.sidebar h3{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    text-align: center;
    color: #222;

}

.sidebar a{
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    color: rgb(7, 100, 112);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.nome-colorido{
    background-color: rgb(189, 189, 189);
    color: #222;
    font-weight: bold;
}

.text-box{
    font-weight: bold;
    color: #f1f1f1;
}

.sidebar a:hover{
    background-color: rgb(189, 189, 189);
    color: rgb(87, 87, 87);
    font-weight: bold;
}

.container{
    width: 80%;
    background-color: rgb(209, 209, 209);
  
}

.container-edit{
    width: 70%;
    margin: 0%;
    background-color: rgb(209, 209, 209);
  
}

.titulo-secao{
    background-color: white;
    padding: 10px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;

}

.titulo-secao h2{
    font-size: 19px;
    font-weight: bold;
    color: #222;
}
.titulo-secao p{
    font-size: 14px;
    font-weight: bold;
    
}

.caixa-info{
    width: 95%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    background-color: white;
    margin-left: 20px;
    margin-right: 5px;
    border-radius: 10px;

    
}

.caixa-info-primeira{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    
}

.caixa-info-primeira-texto{
    width: 20%;
}

.cor-de-baixo{
    width: 100%;
    height: 20px;
}

.mapa-ubs{
    background-color: white;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
 
}
.mapa-ubs h3{
    text-align: center;
    margin-top: 20px;

}
.upload{
    background-color: rgb(247, 247, 247);
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}
.upload h3{
    text-align: center;
    margin-top: 20px;
}
.upload form{
    text-align: center;
    margin-top: 20px;
}

.tablet-uvs{
   margin-left: 25%;
   margin-right: 25%;
   margin-top: 30px;
   border: 7px solid black;

}
.link-paginas{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(7, 100, 112);
    font-weight: bold;
}

.link-paginas:hover{
    color: #222;
}
.principal{
    width: 80%;
    
   
}

.upload h3{
    font-size: 30px;
    color: #222;
}
/*menu editores*/


.menu ul li{
	background-color: rgb(70, 77, 107);
	width: 100%;
	display: inline-block;
	line-height: 30px;
	font-size: 15px;
	position: relative;
    border: 2px solid rgb(48, 44, 56);
    
}

.menu ul li:hover{
	background-color: #f7f7f7;

}

.menu ul{
	padding: 0px;
}

.menu ul ul{
	display: none;
}

.menu ul li:hover > ul{
	display:block;
}

.menu ul ul ul{
	margin-left: 201px;
	top: 0px;
	position: absolute;
}

.menu ul ul li a:hover{
	background-color: #ffffff;

}

.menu ul ul ul li:hover{
	background-color: #ffffff;
  
}

.menu a{
	color: rgb(253, 253, 253);
	text-decoration: none;
}

.botao-upload{
    width: 40px;
    height: 40px; 
}

/*Responsividade*/

@media screen and (max-width: 475px){
    html{
        background-color: rgb(209, 209, 209);
    }
    header{
        width: 210%;
    }

    .main{
        width: 210%;
    }
    .sidebar{
        width: 20%;
    }
    .perfil-adm{
        width: 100%;
    }

    .container{
        width: 80%;
        height: 100vh;
    }

    .caixa-info-primeira{
        width: 100%;
    }

    .cor-de-baixo{
        margin-top: 5px;
    }
    .tablet-uvs{
        width: 55%;
    }
    
    iframe.mapa-da-ubs-formatado{
        width: 338px;
    }
}

@media screen and (max-width: 1600px){
    .container{
        width: 80%;
    }

    .mapa-da-ubs-formatado{
        width: 531px;
    }
}