/*BARRA DE menu*/

/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  
  font-family: 'Poppins', sans-serif;
}
#texto-faxada{
  font-family: 'Arial';
  color: hsl(0, 0%, 100%);
  position: relative;
  text-align: center;
  top: 11%;
  font-size: 15px;
  margin-right: 23%;
}
.menu3{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #466189;
  max-height: 100%;
  z-index: 99;
}
nav .navbar{
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
  padding: 0 50px;
  box-sizing: border-box;
}
.navbar .logo a{
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
nav .navbar .nav-links{
  line-height: 70px;
  height: 100%;
}
nav .navbar .links{
  display: flex;
}
nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li a{
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(180deg);
  }

nav .navbar .links li .arrow{
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #ffffff;
  transition: all 0.3s ease;
}

nav .navbar .links li .sub-menu{
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background:   #466189;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu{
  display: block;
}
.navbar .links li .sub-menu li{
  padding: 0 22px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.navbar .links li .sub-menu a{
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow{
  line-height: 40px;
}
.navbar .links li .htmlCss-more-sub-menu{
  /* line-height: 40px; */
}
.navbar .links li .sub-menu .more-sub-menu{
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu{
  display: block;
}

.menu-mobile{
  display: none;
}

/*Botão responsivo*/

.botao-responsivo{
  background-color: transparent;
  border: none;
  position: absolute;
  display: none;
  font-size: 20px;
}

/*Responsividade do menu*/


@media (max-width: 500px) {
  .nav-links{
    display: none;
  }
  .menu-mobile{
    padding: 1.0rem 4rem;

  }
  .img{
    display: none;
  }

  #texto-faxada{
    display: none;
  }

  .botao-responsivo{
    display: block;
    border: none;
    cursor: pointer;
    background-color: transparent;
  }

  .nav-links{
    display: none;
  }

  .menu-mobile{
    background-color: #466189;
    border: 2px solid #11233d;
    list-style: none;
    margin-top: 10%;
  }

  .menu-mobile ul li{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
    list-style: none;
  }

  

  .nav-item{
    color: #ffffff;
    text-decoration: none;
    
  }
  .menu-mobile .nav-item{
    display: block;
    padding-top: 3.5rem;

  }

  .mobile-barra{
    background-color: wheat;
  }

  .user-mobile{
    color: #ffffff;
  }

  .open{
    display: block;
  }
}
