body{
    background: rgb(217,226,228);
    background: linear-gradient(90deg, rgba(217,226,228,1) 5%, rgba(217,226,228,1) 75%);
}

.menu3{
   max-height: 100%;
   background: rgb(47, 173, 207);
   /* background: linear-gradient(90deg, rgba(13,177,222,1) 0%, rgba(52,201,113,1) 47%, rgba(0,213,255,1) 95%); */
   box-shadow:0px 10px 20px #676565;
}
.img{
    width: 8%;
    height: 100%;
    margin-left: 4%;
}
#text{
    color: aliceblue;
    font-size: 16px;
    margin-right: 10%;
}
#text2{
    font-size: 25px;
    color:  #000000;
    margin: 1%;
    font-family: 'Poppins', sans-serif;

}
.index1{
    width: 100%;
    margin-top: 2%;
    background-color: #c94a4a;
    border-bottom: #48c883  solid ;
    border-top: #48c883 solid;
}
#a1{
  
 
    background: rgb(149,157,152);
    background: linear-gradient(0deg, rgba(149,157,152,1) 0%, rgba(151,157,156,1) 48%, rgba(109,204,152,1) 100%);
    position: relative;
    float: left;
    margin-left: 55%;
    cursor: pointer;
   
  }
  #a2{
   
    background: rgb(149,157,152);
    background: linear-gradient(0deg, rgba(149,157,152,1) 0%, rgba(151,157,156,1) 48%, rgba(109,204,152,1) 100%);
    width: 286px;
    float: left;
    margin-left:10%;
    border: 2px solid rgb(24, 23, 23);
    cursor: pointer;
   
    
  }
  #a3{
   
    background: rgb(149,157,152);
    background: linear-gradient(0deg, rgba(149,157,152,1) 0%, rgba(151,157,156,1) 48%, rgba(109,204,152,1) 100%);
    width: 286px;
    float: left;
    margin-left:10%;
    border: 2px solid rgb(24, 23, 23);
    cursor: pointer;
  
  }
  aside{
    height: 25%;
    width: 10%;
  }

  .rodape{
    background-color: #808080;
  
  }

  .legenda{
    color: #cecece;
  }
 
  footer{
    background-color: #505050;
    margin: 0%;
    height: auto;
  }
  #imagem2{
    float: right;
    margin-top: 2%;
  }
  #imagem3{
    float: right;
    margin-top: 2%;
  }
  
  .planos-img{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
  }

  .plano-c{
    width: 290px;
    margin: 10px 10px;
    border: 2px solid gray;
    background-color: #C8C8C8;
  }

  .caixa{
   background-color: #505050;  
   display: flex;
  }
  .heal{
    color:antiquewhite;
  

  }
  .quem-somos{
    margin-right: 500px;
    color: #0a0a0a;
  }
