body{
    background: rgb(217,226,228);
    background: linear-gradient(90deg, rgba(217,226,228,1) 5%, rgba(217,226,228,1) 75%);
}

.menu3{
   max-height: 100%;
   background: rgb(13,177,222);
   background: linear-gradient(90deg, rgba(13,177,222,1) 0%, rgba(52,201,113,1) 47%, rgba(0,213,255,1) 95%);
   box-shadow:0px 10px 20px #676565;
}
.img{
    width: 100px;
    height: 100px;
}
#text{
    color: aliceblue;
    font-size: 16px;
    margin-right: 10%;
}
#text2{
    font-size: 16px;
    color:  #545454;
    width: 20%;
    margin: 1%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.index1{
    width: 100%;
    margin-top: 0%;
    
}
#linha1{
    height: 8px;
    background-color: #93C94A;
}
#linha2{
    height: 3px;
    width: 79%;
    margin-left: 21%;
    background-color: #93C94A;
}
#adm{
  
 
    background: rgb(149,157,152);
    background: linear-gradient(0deg, rgba(149,157,152,1) 0%, rgba(151,157,156,1) 48%, rgba(109,204,152,1) 100%);
    width: 286px;
    position: relative;
    float: left;
    margin-left: 8%;
    border: 2px solid rgb(24, 23, 23);
    cursor: pointer;
   
  }
  #info{
   
    background: rgb(149,157,152);
    background: linear-gradient(0deg, rgba(149,157,152,1) 0%, rgba(151,157,156,1) 48%, rgba(109,204,152,1) 100%);
    width: 286px;
    float: left;
    margin-left:8%;
    border: 2px solid rgb(24, 23, 23);
    cursor: pointer;
   
    
  }
  #agro{
   
    background: rgb(149,157,152);
    background: linear-gradient(0deg, rgba(149,157,152,1) 0%, rgba(151,157,156,1) 48%, rgba(109,204,152,1) 100%);
    width: 286px;
    float: left;
    margin-left:8%;
    border: 2px solid rgb(24, 23, 23);
    cursor: pointer;
  
  }
  aside{
    height: 25%;
    width: 10%;
  }

  .rodape{
    background-color: #808080;
  }
  footer{
    background-color: #505050;
    margin: 0%;
    height: auto;
  }