body{
    background: rgb(217,226,228);
    background: linear-gradient(90deg, rgba(217,226,228,1) 5%, rgba(217,226,228,1) 75%);
}

.menu3{
   max-height: 100%;
   background: rgb(13,177,222);
   background: linear-gradient(90deg, rgba(13,177,222,1) 0%, rgba(52,201,113,1) 47%, rgba(0,213,255,1) 95%);
   box-shadow:0px 10px 20px #676565;
}
.img{
    width: 8%;
    height: 100%;
    margin-left: 4%;
}
#text{
    color: aliceblue;
    font-size: 16px;
    margin-right: 10%;
}
#text2{
    font-size: 16px;
    color:  #545454;
    width: 20%;
    margin: 1%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.index1{
    width: 100%;
    margin-top: 2%;
    background-color: #c94a4a;
    border-bottom: #93C94A solid ;
    border-top: #93C94A solid;
}
#a1{
  
 
    background: rgb(149,157,152);
    background: linear-gradient(0deg, rgba(149,157,152,1) 0%, rgba(151,157,156,1) 48%, rgba(109,204,152,1) 100%);
    width: 286px;
    position: relative;
    float: left;
    margin-left: 12%;
    border: 2px solid rgb(24, 23, 23);
    cursor: pointer;
   
  }
  #a2{
   
    background: rgb(149,157,152);
    background: linear-gradient(0deg, rgba(149,157,152,1) 0%, rgba(151,157,156,1) 48%, rgba(109,204,152,1) 100%);
    width: 286px;
    float: left;
    margin-left:10%;
    border: 2px solid rgb(24, 23, 23);
    cursor: pointer;
   
    
  }
  #a3{
   
    background: rgb(149,157,152);
    background: linear-gradient(0deg, rgba(149,157,152,1) 0%, rgba(151,157,156,1) 48%, rgba(109,204,152,1) 100%);
    width: 286px;
    float: left;
    margin-left:10%;
    border: 2px solid rgb(24, 23, 23);
    cursor: pointer;
  
  }
  aside{
    height: 25%;
    width: 10%;
  }

  .rodape{
    background-color: #808080;
  }
 
  footer{
    background-color: #505050;
    margin: 0%;
    height: auto;
  }
